@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

.link{
    font-family: 'Zen Kurenaido', sans-serif;
    height:500px;
    width:100%;
}
a{
    text-decoration: none;
   color: black;
}

.box{
    
    width:220px;
    height:220px;
    border-radius: 50%;
    border:none;
    text-align: center;
    overflow: hidden;
    display: flex;
    /* border-radius: 50%; */
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 15px 8px 8px -6px rgb(148, 144, 144);

}
.box-1{
    margin-left:-70px;
}
.box-2{
    align-self: flex-end;

}
/* .box-3{

} */
.box-4{
    align-self: end;

}
/* .box-5{

} */

.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover {
 max-width: 250px;
 box-shadow: 6px 8px 8px -6px rgb(148, 144, 144);
 transition:0.06s;


}
@media only screen and (max-width: 767px){
    .container{
        padding-left: 0px;
    }
    .box{
        width:130px;
        height:130px;
        align-self: none;
        font-size: 1rem;
    }
    .box-1,.box-2,.box-3,.box-4,.box-5{
        /* align-self:none; */
        margin:auto;
    }
  }
  
  